h1, h2 {
   margin: 20px auto 10px;
   color: #0084CA;
   text-align: center;
}

p {
   color: #0084CA;
   text-align: center;
}

table {
   margin: 0 auto;
   width: 100%;
   border: 2px solid grey;
   border-collapse: collapse;
   text-align: center;
}

td, th {
   border: 2px solid grey; 
   padding: 2px;
}

.form-add {
   margin: auto;
   width: 100%;
}

.link {
  text-align: center;
  font-color: #0084CA;
}

.footer {
  margin: 10px 0;
  padding: 5px;
  background-color: #e2dede;
}

.header {
  margin: 10px 0;
  padding: 5px;
  background-color: #e2dede;
}
